<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExamBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Password" value="12345"/>
    <add key="BrowserFilename" value="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
    <add key="BrowserArguments" value="-incognito"/>
    <add key="InitalUrl" value=""/>
    <add key="Modification Date" value=""/>
    <add key="TimerInterval" value="0"/>
    <add key="HeartInterval" value="60000"/>
    <add key="LockKeys" value="0"/>
    <add key="DebugMode" value="0"/>
    <add key="SpecialKeys" value="LControlKey,H,C,B"/>
    <add key="Keys" value=""/>
    <add key="Application" value=""/>
    <add key="SendF11Stroke" value="0"/>
    <add key="Heslo" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup>
  <supportedRuntime version="v2.0.50727"/>
  <supportedRuntime version="v4.0"/>
</startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <ExamBrowser.Properties.Settings>
      <setting name="ExamBrowser_Arthur_WorkstationService_WorkstationService"
        serializeAs="String">
        <value>http://192.168.0.200/puspendikunbkservice/CBTservices/WorkstationService.svc</value>
      </setting>
    </ExamBrowser.Properties.Settings>
  </applicationSettings>
</configuration>
